<div class="modal fade" id="modalSolution">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('probleme_ajouterSolution', {"id" : probleme.id}) }}" method="post" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-primary"><i class="fa fa-check"></i> Proposer une solution</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="solution">Solution proposée: <b class="text-danger" id="err_solution"></b></label>
                        <textarea required class="form-control" name="solution" id="solution" rows="4" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" > Confirmer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuller</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    //Date picker
    $('#dateHistoriqueEtat').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
    });
</script>
<!-- /.modal -->