<div class="modal fade" id="modalDepense">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('depense_new', { "id" : probleme.id }) }}" method="post" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-danger"><i class="fa fa-dollar"></i> Ajout Dépense</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                       <label for="depense">Liste Dépense Hissab: <b class="text-danger" id="err_depense"></b></label>
                       <select required class="form-control" name="depense" id="depense">
                           <option value=""></option>
                       </select>
                    </div>

                    <input type="hidden" name="montant" id="montant">
                    <input type="hidden" name="numero" id="numero">
                    <input type="hidden" name="lien" id="lien">

                    <input type="hidden" name="numeroGroupeDepense" id="numeroGroupeDepense" value="{{ probleme.groupe.numero }}">


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" > Ajouter</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuller</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<style>
    .select2-container {
        width: 100% !important;
        padding: 0;
    }
</style>

<script>
    var depenses = null;
    numeroGroupeDepense = $('#numeroGroupeDepense').val();
    $.getJSON( "http://{{ ipServeur }}/IBC/web/api/externe/d/num/groupe/"+numeroGroupeDepense, function( data ) {

        depenses = data;
        console.log(depenses);

        selectDepense = $('#depense');
        $.each(depenses, function (key, depense) {
            totalDepense = numeral(depense.total)
            totalDepense = totalDepense.format(myFormat);
            option = "<option value='"+ depense.id +"'>"+ depense.numero +" | montant: "+ totalDepense +"MGA</option>";

            selectDepense.append(option);


            // console.log(option);
        });

        selectDepense.select2();

        selectDepense.change(function () {
            idDepense = $(this).val();

            $.each(depenses, function (key, depense) {

                if(depense.id == idDepense){
                    $('#montant').val(depense.total);
                    $('#numero').val(depense.numero);
                    $('#lien').val(depense.lien);
                }

            });

        });

    });

</script>