{% extends 'base.html.twig' %}

{% block titre_page %} <strong class="text-primary">Modifier Huile</strong> {% endblock %}
{% block titre_description %}Modifier information huile{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus-circle"></i> Formulaire Huile</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}

                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit"  class="btn btn-primary btn-block" ><i class="fa fa-save"></i> Enregistrer</button>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('huile_index') }}" class="btn btn-default btn-block">Annuler</a>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>

    </div>

    <br><br><br><br><br><br>


    {#NUMERAL FORMAT#}
    <script>
        numeralFormat('#produitbundle_huile_prixAchat');

        $('#produitbundle_huile_prixAchat').addClass('only_float');
    </script>

{% endblock %}