{% extends 'base.html.twig' %}

{% block titre_page %}
    Bienvenue dans le logiciel LocaPro
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset('images/LocaPro.png') }}" alt="" class="img-responsive">
        </div>
    </div>
{% endblock %}
