<div class="modal fade" id="modalAppoint">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('appoint_new', {'id' : groupe.id}) }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-primary">Appoint d'huile</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="dateAppoint">Date: <b class="text-danger" id="err_dateAppoint"></b></label>
                        <input required type="text" class="form-control" name="dateAppoint" id="dateAppoint"  />
                    </div>

                    <div class="form-group">
                        <input type="checkbox"  name="chkHuileAppoint" id="chkHuileAppoint"  />
                        <label for="chkHuileAppoint" class="text-danger">Si huile en stock utilisé <b class="text-danger" id="err_chkHuileAppoint"></b></label>
                    </div>

                    <div class="form-group">
                        <label for="huileAppoint">Huile utilisé: <b class="text-danger" id="err_huileAppoint">(Stock dispo: {{ stockHuile }})</b></label>
                        <input required type="text" class="form-control only_float" name="huileAppoint" id="huileAppoint" value="0" />
                    </div>

                    <div class="form-group">
                        <label for="descriptionAppoint">Note: <b class="text-danger" id="err_descriptionAppoint"></b></label>
                        <textarea class="form-control" name="descriptionAppoint" id="descriptionAppoint" rows="4"></textarea>
                    </div>

                    <p class="text-danger">NB: La valeur de "Huile utilisé" ne sera plus modifiable</p>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnConfirmerAppoint" value="{{ stockHuile }}"> Confirmer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuller</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    numeralFormat('#heureMarche');
</script>

<script>
    //Date picker
    $('#dateAppoint').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
    });
    $('#dateAppoint').datepicker('update', new Date());
</script>

{#BOUTTON CONFIRMER VIDANGE #}
<script>

    $('#btnConfirmerAppoint').click(function () {
        if (parseFloat($('#huileAppoint').val()) > parseFloat($(this).val()) && $('#chkHuileAppoint').is(':checked') ){
            $('#textModalDanger').html('Vérifier la stock d\'huile disponible')
            $('#modalDanger').modal();

            return false;
        }

    });

</script>

<!-- /.modal -->