<div class="modal fade" id="modalByHeure">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('heureMarche_indexByDate') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-warning">Formulaire des dates</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group date form_date" data-date="" data-link-field="dateDebut" data-link-format="dd/mm/yyyy">
                                <label for="date" class="input-group-addon control-label">Date Début :</label>
                                <input  class="form-control "   type="text"  id="dateDebut" name="dateDebut">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span  class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group date form_date" data-date="" data-link-field="dateFin" data-link-format="dd/mm/yyyy">
                                <label for="date" class="input-group-addon control-label">Date Fin:</label>
                                <input class="form-control"  type="text" id="dateFin"  name="dateFin">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" > Confirmer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuller</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    //Date picker
    $('#dateDeplacement').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
    });
    $('#dateDeplacement').datepicker('update', new Date());
</script>
<!-- /.modal -->